body {
    text-transform: uppercase;
    font-size: 2rem;
    height: 2000px;
}

.static {
    height: 200px;
    background-color: lightgray;
}

.relative {
    position: relative;
    width: 500px;
    height: 250px;
    background-color: lightskyblue;
    left: 50px;
    top: -30px;
}

.sticky {
    position: sticky;
    background-color: salmon;
    width: 300px;
    left: 700px;
    top: 20px;
    z-index: 1;
}

.fixed {
    position: fixed;
    background-color: sandybrown;
    width: 200px;
    height: 200px;
    bottom: 80px;
    right: 300px;
}

.absolute {
    position: absolute;
    background-color: springgreen;
    top: 0;
    right: 80px;
}